@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

@mixin transition($ms) {
	transition: $ms;
	-moz-transition: $ms; /* Firefox 4 */
	-webkit-transition: $ms; /* Safari and Chrome */
	-o-transition: $ms; /* Opera */
}

@mixin opacity($value) {
	opacity: $value;
	filter: alpha(opacity=$value*100);
}

@mixin background-size($value) {
	-webkit-background-size: $value;
	-moz-background-size: $value;
	-o-background-size: $value;
	background-size: $value;
}

@mixin column-count($value) {
	-webkit-column-count: $value; /* Chrome, Safari, Opera */
    -moz-column-count: $value; /* Firefox */
    column-count: $value;
}