<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Enter the start day and end day for the simulation</h2>
    <d1>
    <form action="{{url_for('index_post')}}" method="POST">
    	<dt>Start day:
        <dt><input type="text" name="Start day">
        <dt>End day:
        <dt><input type="text" name="End day">
       	<dt>Extend days:
        <dt><input type="text" name="Extend days">
       	<dt>Price per kg:
        <dt><input type="text" name="Price per kg">
        <dt>Food cost:
        <dt><input type="text" name="Food cost">
        <dt>Facility cost:
        <dt><input type="text" name="Facility cost">
        <dt>R value:
        <dt><input type="text" name="R value"><br><br>
        <input type="submit" name="my-form" value="Send">
    </form>
	</d1>
</body>
</html>
