<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html lang="en">
<body>
    <h2>Simulation:</h2>
    <d1>
    <form action="{{url_for('index_post')}}" method="POST">
    	<dt>Length of simulation (days):
        <dt><input type="text" name="sim_len">
        <dt>Length of initial restriction period (days):
        <dt><input type="text" name="restr_len">
        <dt>%Restriction (e.g. enter 7.5 for 7.5%):
        <dt><input type="text" name="restr">
       	<dt>End day market price of cattle ($/kg):
        <dt><input type="text" name="market_price">
        <dt>Feed cost ($/kg):
        <dt><input type="text" name="feed_cost">
        <dt>Facility cost ($/day):
        <dt><input type="text" name="fac_cost">
        <dt>%Interest rate (e.g. enter 7.5 for 7.5%):
        <dt><input type="text" name="int_rate"><br><br>
        <input type="submit" name="my-form" value="Send">
    </form>
	</d1>
</body>
</html>
